.err-msg {
  color: red;
  text-align: center;
  padding-top: 15px;
}

.am-tab-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.fixed-header.am-navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.page-center {
  padding: 45px 5px;
}

.am-card-header-content > img {
  height: 28px;
}

.am-tab-bar {
  height: 53px!important;
}

#chat-page {
  padding-bottom: 45px;
}

#chat-page .chat-me .am-list-extra {
  flex-basis: auto;
}

#chat-page .chat-me .am-list-content {
  padding-right: 15px;
  text-align: right;
}

.stick-footer {
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 100%;
}
